[Unit]
Description=Huur Scraper Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=@WORKING_DIR@
ExecStart="@EXEC_PROJECT_DIR@/.venv/bin/python" -m src.main --once
EnvironmentFile="@PROJECT_DIR@/.env"
StandardOutput=journal
StandardError=journal
User=@SERVICE_USER@
Group=@SERVICE_GROUP@

[Install]
WantedBy=multi-user.target
